.no-caret::after {
  display: none !important;
}
.no-caret {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.custom-dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 0.5;
  color: #333;
}

.vertical-dots {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.list {
  background: #101204;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 8px 10px;
  width: 272px;
  min-width: 250px;
  margin-bottom: 45px;
  box-shadow: var(
    --ds-shadow-raised,
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f
  );
  max-height: calc(100vh - 190px);
  /* overflow-y: scroll; */
}

.list .list-header {
  padding: 8px 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.boards .list h3 {
  font-size: 14px;
  margin-left: 8px;
  font-weight: 600;
  line-height: 20px;
  color: #b6c2cf;
  text-transform: capitalize;
  min-height: 20px;
}

.draggable {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  /* transform: none !important; */
}
