.home {
  background: #1d2125;
}

.home .views {
  padding-bottom: 80px !important;
  min-height: 100vh;
  overflow-y: scroll;
}

.views h3 {
  color: hsl(211, 18%, 68%);
  font-size: 18px;
  margin: 20px 0;
}

.workSpacesContainer {
  padding: 0 0 20px;
}

.workSpacesContainer .workspace-bar {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: 10px;
  align-items: center;
}

.workSpacesContainer .workspace-bar .ws-option {
  background: #a1bdd914 !important;
  border: none;
  border-radius: 3px;
  color: #b6c2cf;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 6px 12px 6px 6px;
  max-width: 130px;
  font-size: 14px;
}

.ws-option + .dropdown-menu.membersMenu {
  background-color: #282e33 !important;
}
.ws-option + .dropdown-menu.membersMenu .dropdown-item {
  color: #b6c2cf !important;
}

.ws-option + .dropdown-menu.membersMenu > .custom-dropdown-item:hover {
  background-color: #a1bdd914 !important;
  color: #b6c2cf !important;
}

.card {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  background: no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  border: none;
  border-radius: 3px !important;
  background-color: #a1bdd914 !important;
}

.card .board-link {
  width: 100%;
  height: 100%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card .dropdown {
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: 10;
}

.board-container {
  min-width: 140px;
  width: 20%;
  height: 96px;
  margin: 0 2% 2% 0;
}

.board-name {
  margin: 0;
  font-size: 1.2rem;
  z-index: 1;
}

.no-caret::after {
  display: none !important;
}
.no-caret {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.custom-dropdown-toggle::after {
  display: none;
}

.custom-dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 0.5;
  color: #333;
}

.views-wrapper {
  width: 100% !important;
}

@media (max-width: 500px) {
  .views .wrapper .card {
    width: 100%;
  }
  .views .wrapper .board-link {
    width: 45%;
  }
}

.workSpacesContainer .workspace-item {
  border-top: rgb(182, 194, 207, 0.5) solid 1px;
  padding-top: 30px;
}
