nav {
  border-bottom: 1px solid lightgray;
  background-color: #1d2125 !important;
  position: fixed !important;
  z-index: 1000;
  width: 100vw;
  top: 0;
}

nav input[type="search"] {
  padding: 5px 12px;
  border-radius: 5px;
  background: transparent;
}

nav input[type="search"]::placeholder {
  color: #9fadbc;
}

.nav-item.dropdown > a {
  color: #9fadbc;
}

.create .dropdown-toggle {
  /* background-color: #499497; */
  border: rgb(159, 173, 188, 0.3) 1px solid;
  color: white;
  border-radius: 8px;
}
.create .dropdown-toggle::after {
  border: none;
}

.create .dropdown-menu.show {
  background-color: #1d2125;
  margin-top: 6px;
  border: #9fadbc 1px solid;
  padding: 20px 10px;
}

.workspacesMenu .dropdown-menu {
  background-color: #282e33 !important;
}

.workspacesMenu .dropdown-item {
  color: #b6c2cf !important;
}
.workspacesMenu .dropdown-item:hover {
  background-color: #a1bdd914 !important;
}

.create .dropdown-menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.create .dropdown-menu .container h2 {
  font-size: 18px;
  color: #9fadbc;
}
.create .dropdown-menu .container label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #9fadbc;
}
.create .dropdown-menu .container button {
  width: 100%;
  background-color: rgb(23, 43, 77);
}

nav button {
  padding: 2px 8px !important;
  height: 30px;
  border-radius: 3px !important;
}

nav input.submit:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

nav .navbar-nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar-nav-scroll {
  max-height: 500px !important;
}
nav .user-name {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #172b4d;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.no-caret::after {
  display: none !important;
}
.no-caret {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.log-GD {
  background: #1d2125;
}

.log-GD .dropdown-item:hover {
  background-color: #a1bdd914;
  color: #b6c2cf;
}

.log-GD a {
  color: #9fadbc;
}

@media (max-width: 800px) {
  nav .navbar-nav {
    gap: 8px;
  }
}
@media (max-width: 500px) {
  .container {
    justify-content: space-around !important;
    flex-wrap: wrap !important;
  }
}
