.profileCircle{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #172b4d;
    line-height: 28px;
    border: none;
    margin-right: 60px;
}


.profileModal {
    width: 304px;
    height: 213px;
    overflow: hidden;
    border-radius: 10px ;
        background-color: #282e33;
        position: absolute;
        top: 35px;
        right: -5px;
        z-index: 1000;
        /* transform: translateX(-50%); */
}

.profileModal.show {
    display: block;
    /* تظهر عند التفعيل */
}


.modalBody {
    background-color: #282e33;
    padding: 12px ;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 30px;
}

.modalBody button {
background: transparent;
border: none;
    color: #b6c2cf;
font-size: 14px;
text-align: start;
text-transform: capitalize;
}

.modalBody hr{
    margin: 14px 0;
    color: #b6c2cf;
}

.hide {
    display: none;
}

.profileModal header {
    background: #579dff;
            padding: 24px 12px 8px 14px;
            display: flex;
            max-height: 80px;
        
}
.profileModal .profile-info {
        margin-top: 8px;
        margin-left: 8px;
}
.profileModal header h3 {
    font-size: 16px;
    margin: 0;
}

.profileModal header p {
    font-size: 12px;
}

.profileModal .nameCircle {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #172b4d;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    line-height: 86px;
    font-size: 40px;
}